div.hn-comments-sidebar * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div.hn-comments-sidebar article,
div.hn-comments-sidebar aside,
div.hn-comments-sidebar details,
div.hn-comments-sidebar figcaption,
div.hn-comments-sidebar figure,
div.hn-comments-sidebar footer,
div.hn-comments-sidebar header,
div.hn-comments-sidebar hgroup,
div.hn-comments-sidebar menu,
div.hn-comments-sidebar nav,
div.hn-comments-sidebar section {
  display: block
}

div.hn-comments-sidebar ol,
div.hn-comments-sidebar ul {
  list-style: none
}

div.hn-comments-sidebar blockquote,
div.hn-comments-sidebar q {
  quotes: none
}

div.hn-comments-sidebar blockquote:before,
div.hn-comments-sidebar blockquote:after,
div.hn-comments-sidebar q:before,
div.hn-comments-sidebar q:after {
  content: '';
  content: none
}

div.hn-comments-sidebar table {
  border-collapse: collapse;
  border-spacing: 0
}

div.hn-comments-sidebar {
  font-family: sans-serif !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 30% !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  -webkit-transition: width .3s, padding .3s, margin .3s !important;
  transition: width .3s, padding .3s, margin .3s !important;
  z-index: 99999999999 !important;
}

div.hn-comments-sidebar.sidebar-hidden {
  width: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  pointer-events: none !important;
  overflow: hidden !important;
}

div.hn-comments-sidebar.sidebar-hidden .hn-comments {
  padding-right: 0px !important;
}

div.hn-comments-sidebar .hn-toggle {
  right: 0 !important;
  top: 30px !important;
  height: 30px !important;
  width: 30px !important;
  background-color: #f60 !important;
  float: left !important;
  pointer-events: auto !important;
  font-size: 25px !important;
  line-height: 30px !important;
  color: #FFF !important;
  text-align: center !important;
  cursor: pointer !important;
}

div.hn-comments-sidebar .hn-comments {
  width: calc(100% - 30px) !important;
  float: right !important;
  background-color: #FFF !important;
  padding-right: 15px !important;
}

div.hn-comments-sidebar .hn-comment {
  padding: 10px 0 0 15px !important;
}

div.hn-comments-sidebar .hn-comment .user {
  float: left !important;
  width: 90% !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

div.hn-comments-sidebar .hn-comment .points {
  float: right !important;
  width: 10% !important;
  text-align: right !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

div.hn-comments-sidebar .hn-comment .hn-comment {
  border-left: 1px solid #f60 !important;
}
