.hn-comments-sidebar * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;box-sizing: border-box;
}

.hn-comments-sidebar article,
.hn-comments-sidebar aside,
.hn-comments-sidebar details,
.hn-comments-sidebar figcaption,
.hn-comments-sidebar figure,
.hn-comments-sidebar footer,
.hn-comments-sidebar header,
.hn-comments-sidebar hgroup,
.hn-comments-sidebar menu,
.hn-comments-sidebar nav,
.hn-comments-sidebar section {
  display: block
}

.hn-comments-sidebar ol,
.hn-comments-sidebar ul {
  list-style: none
}

.hn-comments-sidebar blockquote,
.hn-comments-sidebar q {
  quotes: none
}

.hn-comments-sidebar blockquote:before,
.hn-comments-sidebar blockquote:after,
.hn-comments-sidebar q:before,
.hn-comments-sidebar q:after {
  content: '';
  content: none
}

.hn-comments-sidebar table {
  border-collapse: collapse;
  border-spacing: 0
}

.hn-comments-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: width .3s, padding .3s, margin .3s;
  transition: width .3s, padding .3s, margin .3s;
  z-index: 99999999999;
}

.hn-comments-sidebar.sidebar-hidden {
  width: 30px;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.hn-comments-sidebar.sidebar-hidden .hn-comments {
  display: none;
}

.hn-comments-sidebar .hn-toggle {
  right: 0;
  height: 30px;
  width: 30px;
  background-color: black;
  float: left;
  pointer-events: auto;
}

.hn-comments-sidebar .hn-comments {
  width: calc(100% - 30px);
  float: right;
  padding: 15px;
  background-color: white;
}
